body {
    text-align: center;
    margin: 0px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
}

.Popup {
    width: 80%;
    margin: auto;
    top: 30vh;
    left: 3.5vw;
    background-color: rgba(255, 255, 255, 0.950);
    padding: 100px 50px;
    border-radius: 30px;
    position: sticky;
    display: none;
    z-index: 5;
}

.Popup button {
    width: 20vw;
    height: 10vh;
    font-size: larger;
    margin: 10px;
}

.dark {
    color: white;
    background-color: Black;
    border: none;
}

.light {
    color: black;
    background-color: white;
    border: none;
}

.Dark {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.NavFixDark .navspace>a:hover,
.NavFixDark .navspace .dropdown:hover {
    border-bottom: 4px solid white !important;
}

.ThemeFixDark {
    background-color: rgba(70, 70, 70, 0.281) !important;
}

a {
    text-decoration: none;
}

.welc {
    font-size: 1.85em;
    text-align: center;
    margin-top: 20vh;
    width: 100%;
    height: auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.ytvids {
    justify-content: center;
}

.ytvids .titles {
    display: flex;
    margin: auto;
}

.ytvids .titles>p {
    text-align: center;
    width: 50%;
}

.insta iframe {
    height: 600px;
}

iframe {
    height: 400px;
}

.embed {
    width: 100vw;
}

.scrollplease {
    display: flex;
    flex-direction: column;
    margin-top: 50vh;
    animation-name: scrollpls;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    opacity: 0%;

}

@keyframes scrollpls {
    0% {
        margin-top: 40vh;
        opacity: 0%;
    }

    50% {
        margin-top: 35vh;
        opacity: 100%;
    }

    100% {
        margin-top: 90vh;
        opacity: 0%;
    }
}