@media (max-width: 750px) {
    .curevent {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }

    .layer {
        flex-direction: column;
        width: 100% !important;
        margin: auto;
    }

    .curevent img {
        width: 95% !important;
        height: 100% !important;
        margin: auto;
        margin-bottom: 2vh;
    }

}

.topnav .navspace>a {
    border-bottom: 0px solid black;
}

.topnav .navspace>a:hover,
.topnav .navbar button:hover {
    border-bottom: 4px solid black;
}

.topnav .navspace>a:hover,
.topnav .dropdown:hover {
    border-bottom: 4px solid black;
}

.topnav .dropdown {
    border-bottom: 0px solid black;
}

.currentevent {
    width: 100%;
    height: fit-content;
    margin-bottom: 10vh;
}

.currentevent embed {
    width: 100%;
    height: 100%;
}

.curevent {
    display: flex;
}

.layer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.curevent img {
    width: 75%;
    height: 100%;
    margin: auto;
}

.stucocand {
    margin: auto;
    height: 100%;
    width: 100%;
    margin-bottom: 20px;
    display: none;
}

.stucoflex {
    display: flex;
    height: 100%;
    justify-content: space-around;
}

.stucolayer {
    width: 45%;
    height: 100%;
    margin: auto;
}

.cands {
    box-shadow: 3px 6px 10px 1px black;
    border-radius: 10px;
    padding: 4% 2%;
    background-color: white;
    color: black;
}

.cands img {
    width: 95%;
    height: auto;
}

@media (max-width:750px) {
    .stucoflex {
        flex-direction: column;
    }

    .stucolayer {
        width: 95% !important;
    }
}

.curevents {
    width: 100vw;
    height: 90vh;
    background-image: url(../Imgs/curevents/stars.jpeg);
    overflow: hidden;
}

.queststar {
    position: relative;
    margin: auto;
    height: 150px;
    width: 100vw;
    padding: 10px;
    perspective: 200px;
}

.queststarperspect {
    padding: 50px;
    position: absolute;
    transform: rotateX(45deg) translateY(17vh);
    animation: startext 40s infinite linear;
    color: #FFE81F;
    position: relative;
}

.opening {
    width: 60vw;
    text-align: center;
    margin: auto;
}

.iconic {
    padding-top: 35vh;
    color: #4bd5ee;
    margin: auto;
    font-size: 40px;
    opacity: 80%;
    animation: startexts 40s infinite linear;
}

@keyframes startext {
    90% {
        opacity: 70%;
    }

    100% {
        transform: translateY(-70vh) translateZ(-100px);
        opacity: 0%;
        perspective: 200px;
    }
}

@keyframes startexts {
    7% {
        opacity: 80%;
    }

    12% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}