@media (max-width: 750px) {
    .curevent {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }

    .layer {
        flex-direction: column;
        width: 100% !important;
        margin: auto;
    }

    .curevent img {
        width: 95% !important;
        height: 100% !important;
        margin: auto;
        margin-bottom: 2vh;
    }

}

.topnav .navspace>a {
    border-bottom: 0px solid black;
}

.topnav .navspace>a:hover,
.topnav .navbar button:hover {
    border-bottom: 4px solid black;
}

.topnav .navspace>a:hover,
.topnav .dropdown:hover {
    border-bottom: 4px solid black;
}

.topnav .dropdown {
    border-bottom: 0px solid black;
}

.curevent {
    width: 100%;
    height: fit-content;
    margin-bottom: 5vh;
}

.currentevent embed {
    width: 100%;
    height: 100%;
}

.curevent {
    display: flex;
}

.layer {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.curevent img {
    width: 75%;
    height: 100%;
    margin: auto;
}

.stucocand {
    margin: auto;
    height: 100%;
    width: 90%;
    margin-bottom: 20px;
    display: flex;
}

.stucoflex {
    display: flex;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    flex-direction: column;
}

.stucolayer {
    width: 45%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.cands {
    box-shadow: 3px 6px 10px 1px black;
    border-radius: 10px;
    padding: 4% 2%;
    background-color: white;
    color: black;
    margin-bottom: 20px;
    width: 80%;
}

.cands p {
    text-align: left;
}

.cands img {
    width: 95%;
    height: auto;
}

@media (max-width:750px) {
    .stucoflex {
        flex-direction: column;
    }

    .stucolayer {
        width: 95% !important;
    }
}

.promRoyal{
    height: 240vh;
}

.promRoyal iframe {
    width: 95vw;
    height: 240vh;
    margin: auto;
}

@media (min-width: 750px) {
    .promRoyal {
        width: 95vw;
        height: 240vh !important;
        margin: auto;
    }
}