body {
    background-image: linear-gradient(purple, orange);
}

.topnav .navspace > a {
    border-bottom: 0px solid black;
}

.topnav .navspace > a:hover, .topnav .navbar button:hover {
    border-bottom: 4px solid black;
}

.topnav .navspace > a:hover, .topnav .dropdown:hover {
    border-bottom: 4px solid black;
}

.topnav .dropdown {
    border-bottom: 0px solid black;
}

.currentevent {
    width: 100%;
    height: fit-content;
    margin-bottom: 10vh;
}

.currentevent embed {
    width: 100%;
    height: 100%;
}