/*event coloring*/
/*Halloween*/
/*body {
    background-image: linear-gradient(purple, orange);
}

.curevent {
    background-image: linear-gradient(purple, orange);
    padding-bottom: 10px;

}*/
/*christmas*/
.decor {
    color: white;
    position: absolute;
    font-size: 80px;
    z-index: 0;
}

#one {
    position: absolute;
    top: 10vh;
    left: 20vw;
    animation-name: snowflakesfall;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#two {
    position: absolute;
    top: 30vh;
    left: 70vw;
    animation-name: snowflakesfall;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#three {
    position: absolute;
    top: 90vh;
    left: 60vw;
    animation-name: snowflakesfall;
    animation-duration: 9s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#four {
    position: absolute;
    top: 130vh;
    left: 80vw;
    animation-name: snowflakesfall;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#five {
    position: absolute;
    top: 50vh;
    left: 10vw;
    animation-name: snowflakesfall;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#six {
    position: absolute;
    top: 110vh;
    left: 2vw;
    animation-name: snowflakesfall;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes snowflakesfall {
    0% {
        top: -100vh;
        rotate: 0deg;
        color: white;
    }

    75% {
        color: white;
    }

    100% {
        top: 160vh;
        rotate: 180deg;
        color: transparent;
    }

}