@media (max-width: 600px) {
    body {
        background: url(../Imgs/backgroundmobile.jpg);
        background-size: contain;
        background-position: top;
        background-color: #21204b;
        background-repeat: no-repeat;
    }

    .welc {
        height: 75vh !important;
    }

    .curevent {
        display: flex;
        flex-direction: column !important;
        width: 100%;
    }

    .layer {
        flex-direction: column;
        width: 100% !important;
        margin: auto;
    }

    .curevent img {
        width: 95% !important;
        height: 100% !important;
        margin: auto;
        margin-bottom: 2vh;
    }
}

@media (min-width: 600px) {
    body {
        background: url(../Imgs/background.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

body {
    overflow-x: hidden;
}

.main {
    background-color: white;
}

.welc {
    height: 125vh;
    color: #e20000;
}

.links>.navspace>a {
    color: #e20000;
}

.dropdown .dropbtn {
    color: #e20000;
}

.welc h2,
h6,
p {
    margin: 40px;
}

.recentphotostext {
    text-align: left;
    margin: 0px 14px;
    padding-bottom: 10px;
    width: 96.6%;
}

.imgbox {
    background-color: white;
    border-color: white;
    border-width: 1%;
    border-style: solid;
    width: 98%;
    margin: auto;
    margin-right: 0px;
    margin-top: 20%;

}

.images {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
}

.images>img {
    width: 30%;
    height: 10%;
    margin: auto;
}

.images>div {
    width: 29%;
    padding: 1%;
    padding-top: 0px;
    margin: 10px;
    margin-top: 0px;
}

.images {
    text-align: center;
}

.images a {
    text-decoration: none;
    color: rgb(255, 83, 83);
}

.images a:hover {
    font-weight: bolder;
    font-style: italic;
    color: red;
}

.events embed {
    width: 100%;
    height: 40vh;
}

.theme {
    width: 100%;
    height: 70vh;
    margin-bottom: 20vh;
}

.theme h2 {
    margin-bottom: 5vh;
}

.skewed-theme-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: skewY(-6deg);
    position: relative;
}

.skewed-theme {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(24, 24, 24);
    background-size: 160%;
    width: 100%;
    height: 140%;
    overflow: hidden;
    background-repeat: no-repeat;
    transform: skewY(6deg);
    background-attachment: fixed;
    background-position: center;
    margin: auto;
}

.skewed-theme video {
    width: 100%;
    height: 100%;
}

.curevent {
    display: flex;
}

.layer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.curevent img {
    width: 75%;
    height: 100%;
    margin: auto;
}

.themeplay {
    border: white;
    background-color: white;
    color: #e20000;
    font-size: 15px;
}