@media (max-width: 864px) {
    body {
        background: url(../Imgs/backgroundmobile.jpg) !important;
        background-size: contain !important;
        background-position: top !important;
        background-color: #21204b !important;
        background-repeat: no-repeat !important;
    }
}

@media (min-width: 864px) {
    body {
        background: url(../Imgs/background.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

.main {
    background-color: white;
}

.welc {
    padding-bottom: 70vh;
    color: #e20000;
}

.links>.navspace>a {
    color: #e20000;
}

.dropdown .dropbtn {
    color: #e20000;
}

.welc h2,
h6 {
    margin: 20px;
}

.recentphotostext {
    text-align: left;
    margin: 0px 14px;
    padding-bottom: 10px;
    width: 96.6%;
}

.imgbox {
    background-color: white;
    border-color: white;
    border-width: 1%;
    border-style: solid;
    width: 99%;
    margin: auto;
    margin-right: 0px;

}

.images {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 10px;
}

.images>img {
    width: 30%;
    height: 10%;
    margin: auto;
}

.images>div {
    width: 29%;
    padding: 1%;
    padding-top: 0px;
    margin: 10px;
    margin-top: 0px;
}

.images {
    text-align: center;
}

.images a {
    text-decoration: none;
    color: rgb(255, 83, 83);
}

.images a:hover {
    font-weight: bolder;
    font-style: italic;
    color: red;
}

.events embed {
    width: 100%;
    height: 40vh;
}

.theme {
    width: 100%;
    height: 60vh;
    margin-bottom: 10vh;
}

.theme h2 {
    margin-bottom: 5vh;
}

.skewed-theme-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    transform: skewY(-6deg);
    position: relative;
}

.skewed-theme {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../Imgs/0001.mp4);
    width: 100%;
    height: 120%;
    overflow: hidden;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: skewY(6deg);
    background-attachment: fixed;
    background-position: center;
    margin: auto;
}